ul {
  list-style-type: none;
  margin: 55;
  padding: 3;
  overflow: hidden;
  background-color: white;
  position: fixed;
}

li {
  float: right;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 6px 33px;
  font-size: 22px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: white;
  text-decoration: underline;
  transition: 0.2s;
}
